<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Lucky\NewsletterApi\Api\SubscriberManagementInterface" type="Lucky\NewsletterApi\Model\SubscriberManagement"/>
	<preference for="Lucky\NewsletterApi\Api\Data\SubscriberInterface" type="Lucky\NewsletterApi\Model\Subscriber"/>
	<preference for="Lucky\NewsletterApi\Api\Data\SubscribersSearchResultsInterface" type="Lucky\NewsletterApi\Model\SubscribersSearchResults"/>
</config>
